@import '../base.scss';

.calendar-slider {
  overflow: hidden;
  width: calc(100% + 2rem);
  margin-left: -1rem;
  .inner {
    margin-bottom: 150px;
    // width: 100%;
    // margin-left: -5%;
    display: grid;
    // grid-template-columns: 35px 2fr 1fr 2fr 35px;
    grid-template-columns: repeat(10, 20%);
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    > div {
      padding: 0 1rem;
      position: relative;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .two-days-out {
    color: rgba(white, 0.2);
  }
  .one-day-out {
    color: rgba(white, 0.4);
  }
  .date {
    font-size: 28px;
    font-weight: bold;
  }
  .workout-title {
    letter-spacing: 1px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .workout-day {
    .workout-title {
      top: 100%;
      margin-top: 40px;
      font-size: 50px;
      letter-spacing: 0px;
    }
    .workout-body {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      margin-top: 100px;
      font-size: 16px;
      font-weight: 200;
      letter-spacing: 1px;
      opacity: 0.85;
    }
    &:hover {
      cursor: default !important;
    }
  }
}
