<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/5for15/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/5for15/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/5for15/favicon-16x16.png">
    <link rel="manifest" href="/5for15/site.webmanifest">
    <link rel="mask-icon" href="/5for15/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="stylesheets/app.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <title>5 for 15</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <noscript>
      <strong>We're sorry but 5for15 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      <todays-workout />
    </div>
    {% block javascript %}
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
      <script src="javascripts/app.js"></script>
    {% endblock %}
  </body>
</html>
