@import '../base';

.top-bar {
  color: rgba(white, 0.4);
  overflow: hidden;
  line-height: 60px;
  text-transform: uppercase;
  > * {
    display: inline-block;
    float: left;
    width: 33%;
  }
  .month {
    text-align: center;
  }
  .year {
    text-align: right;
  }
  .month,
  .year {
    font-size: 40px;
  }
  .streak-count {
    height: 60px;
  }
}

.done-toggle {
  padding: 40px 0;
  text-align: center;
  a {
    color: rgba(white, 0.5);
    text-decoration: none;
    font-size: 35px;
    span {
      display: block;
    }
    svg {
      height: 40px !important;
      width: 40px !important;
      fill: currentColor;
    }
    &:hover {
      color: rgba(white, 0.85);
    }
  }
  &.is-done {
    a {
      color: $teal;
    }
  }
}
