.ff-sans,
.ff-barlow {
  font-family: $ff-sans;
}
.ff-hand,
.ff-kalam {
  font-family: $ff-hand;
}
.c-purple-light {
  color: $purple-light;
}
.c-blue-light {
  color: $blue-light;
}
.c-teal {
  color: $teal;
}
