$teal: #59e1e3; //hsl(181, 61, 89);
$teal-dark: hsl(181, 30, 89);

$blue: hsl(220, 68, 64);
$blue-light: hsl(220, 41, 74);

$purple: hsl(262, 73, 38);
$purple-light: hsl(270, 21, 62);

$ff-sans: 'Barlow Condensed', sans-serif;
$ff-hand: 'Kalam', cursive;
