@import '_variables';
@import '_emmet';

* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  background: linear-gradient(to bottom, $purple, $blue 60%, $teal-dark);
  font-family: $ff-sans;
  color: #fff;
  font-size: 16px;
}
